site_name: cdk8s Documentation
repo_url: https://github.com/cdk8s-team/cdk8s
repo_name: cdk8s-team/cdk8s
edit_uri: blob/master/docs
theme:
  name: material
  favicon: assets/favicon.png
  logo: assets/logo.png
  palette:
    scheme: default
    primary: "#133650"
  features:
    - navigation.instant
    # - navigation.tabs
    - header.autohide

extra_css:
  - assets/extra.css

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.details
  - admonition
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - smarty
  - toc:
      permalink: true
      toc_depth: 3
plugins:
  - search
  - awesome-pages

# footer
extra:
  social:
    - icon: fontawesome/brands/slack
      link: https://cdk.dev
    - icon: fontawesome/brands/github
      link: https://github.com/cdk8s-team/cdk8s

copyright: © 2020, Amazon Web Services, Inc. or its affiliates. © cdk8s project authors. All rights reserved.
