:root {
  --md-primary-fg-color:        #215276;
  --md-primary-fg-color--light: #d8e3ea;
  --md-primary-fg-color--dark:  #14354f;
}

h5 {
  text-transform: none !important;
}

.md-source__fact--version {
  display: none;
}

/* Search key hint. @see https://github.com/squidfunk/mkdocs-material/issues/2574 */
[data-md-toggle="search"]:not(:checked) ~ .md-header .md-search__form::after {
  position: absolute;
  top: .3rem;
  right: .3rem;
  display: block;
  padding: .1rem .4rem;
  color: var(--md-default-bg-color);
  font-weight: bold;
  font-size: .8rem;
  border: .05rem solid var(--md-default-bg-color--lighter);
  border-radius: .1rem;
  content: "/";
}

.md-nav--primary > .md-nav__title{
  display: none;
}
