{{- $footer      := .Site.Params.footer }}
{{- $logo        := index $footer "logo" }}
{{- $socialMedia := index $footer "socialmedia" }}
{{- $bulmaLogo   := index $footer "bulmalogo" }}
{{- $socialMediaTitle    := index $footer "socialmediatitle" }}
<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="footer-logo">
          <img src="{{ printf "/images/%s" $logo | relURL }}">
        </div>
      </div>

      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Docs</h3>
          </div>
          <ul class="link-list">
            <li><a href="/getting-started/python">Start with Python</a></li>
            <li><a href="/getting-started/typescript">Start with TypeScript</a></li>

            <li><a href="https://github.com/awslabs/cdk8s/blob/v{{ partial "version" }}/packages/cdk8s-cli/README.md">cdk8s CLI ({{ partial "version" }})</a></li>
            <li><a href="https://awscdk.io/packages/cdk8s@{{ partial "version" }}">cdk8s Library ({{ partial "version" }})</a></li>
        
          </ul>
        </div>
      </div>

      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>More Resources</h3>
          </div>
          <ul class="link-list">
            <li><a href="https://github.com/awslabs/cdk8s/tree/master/examples">Examples</a></li>
            <li><a href="https://github.com/awslabs/cdk8s/projects/1">Roadmap</a></li>
            <li><a href="https://github.com/awslabs/cdk8s/blob/master/CONTRIBUTING.md">Contributing</a></li>
          </ul>
        </div>
      </div>

      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>{{ $socialMediaTitle }}</h3>
            <nav class="level is-mobile">
              <div class="level-left">
                {{- range $socialMedia }}
                <a class="level-item is-size-4" href="{{ .link }}">
                  <span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
                </a>
                {{- end }}
              </div>
            </nav>

          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section is-size-6">
    <div class="has-text-centered container">
      Made with ❤️ by Amazon Web Services and distributed under the <a
      href="https://github.com/awslabs/cdk8s/blob/master/LICENSE">the Apache 2.0
      License</a>
      <br/>

      Contributors and maintainers are governed by the <a
      href="https://github.com/cncf/foundation/blob/master/code-of-conduct.md">CNCF
      Code of Conduct</a>

      <br/>
      <br/>

      <span class="has-text-white has-text-weight-semibold	">
        &copy; cdk8s Project Authors. All Rights Reserved.
      </span>
    </div>
  </section>
</footer>
