{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $button1Text := index $hero "button1text" }}
{{- $button1Link := index $hero "button1link" }}
{{- $button2Text := index $hero "button2text" }}
{{- $button2Link := index $hero "button2link" }}
{{- $image      := index $hero "image" }}
<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-5 is-offset-1 landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          {{ $title }}
        </h1>
        {{ with $subtitle }}
        <h2 class="subtitle is-5 is-muted">
          {{ . }}
        </h2>
        {{ end }}
        <p>
          <a class="button cta rounded primary-btn raised" href="{{ $button1Link }}">
            {{ $button1Text }}
          </a>
          <a class="button cta rounded primary-btn raised" href="{{ $button2Link }}">
            {{ $button2Text }}
          </a>
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <figure class="image is-4by3">
          <img src="{{ printf "/images/%s" $image | relURL }}" alt="Description">
        </figure>
      </div>
    </div>
  </div>
</div>