<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">
    Getting Started
  </a>

  <div class="navbar-dropdown">
    <a href="/getting-started/python" class="navbar-item">Python</a>
    <a href="/getting-started/typescript" class="navbar-item">TypeScript</a>
  </div>
</div>


<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">Resources</a>

  <div class="navbar-dropdown">
    <a href="https://github.com/awslabs/cdk8s/tree/master/examples" class="navbar-item">Examples</a>
    <a href="https://github.com/awslabs/cdk8s/projects/1" class="navbar-item">Roadmap</a>
    <a href="https://github.com/awslabs/cdk8s/blob/master/CONTRIBUTING.md" class="navbar-item">
      Contributing
    </a>
  </div>
</div>

<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">
    Docs (v{{ partial "version" }})
  </a>

  <div class="navbar-dropdown">
    <a href="https://github.com/awslabs/cdk8s/blob/v{{ partial "version" }}/packages/cdk8s-cli/README.md" class="navbar-item">cdk8s CLI</a>
    <a href="https://awscdk.io/packages/cdk8s@{{ partial "version" }}" class="navbar-item">cdk8s Library</a>
  </div>
</div>


<a href="https://github.com/awslabs/cdk8s" class="navbar-item is-size-3 ">
  <span class="icon"><i class="fa fa-github"></i></span>
</a>