name: Build
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: jsii/superchain

    steps:
      - uses: actions/checkout@v2
      - name: installing dependencies
        run: |
          pip3 install pipenv
          yarn install
      - name: compile
        run: |
          tools/align-version.sh
          yarn build
      - name: create bundle
        run: yarn package
      - name: debug-nuget-release
        shell: bash
        run: |
          curl -o release.sh https://raw.githubusercontent.com/eladb/jsii-release/master/bin/jsii-release-nuget
          chmod +x release.sh
          ./release.sh
        env:
          NUGET_API_KEY: dummy

