name: Build
on: [push]
jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - uses: borales/actions-yarn@v2.0.0
        name: Install
        with:
          cmd: install

      - uses: borales/actions-yarn@v2.0.0
        name: Build
        with:
          cmd: build

      - uses: borales/actions-yarn@v2.0.0
        name: Test
        with:
          cmd: test
