name: Build
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: jsii/superchain

    steps:
      - uses: actions/checkout@v2

      - name: installing dependencies
        run: tools/install-workflow-deps.sh

      - name: set version
        run: tools/align-version.sh

      - name: compile
        run: yarn build

      - name: unit tests
        run: yarn test

      - name: create bundle
        run: yarn package

      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: dist
          path: dist

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    needs: build
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install pipenv
        run: pip install pipenv

      - name: download artifact
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - name: extract dist
        run: yarn extract
        shell: bash

      - name: integration tests
        run: yarn integ
        shell: bash
