name: Release @next
on:
  push:
    branches:
      - master
    
jobs:
  release:
    runs-on: ubuntu-latest
    container:
      image: jsii/superchain

    steps:
      - uses: actions/checkout@v2
      - name: installing dependencies
        run: |
          pip3 install pipenv
          yarn install
      - run: yarn bazelrc:ci
      - run: yarn bazelrc
      - run: yarn build
      - run: yarn test
      - run: yarn package
      - name: integration tests
        run: test/run-against-dist test/test-all.sh

      # publish to package managers only if this is a new version      
      - run: npx jsii-release-npm
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_DIST_TAG: next
