name: Release @next
on:
  push:
    branches:
      - master
    
jobs:
  release:
    if: github.repository == 'awslabs/cdk8s'
    runs-on: ubuntu-latest
    container:
      image: jsii/superchain

    steps:
      - uses: actions/checkout@v2
      - name: installing dependencies
        run: tools/install-workflow-deps.sh
      - run: tools/align-version.sh "-pre.$(date +%s)"
      - run: yarn build
      - run: yarn test
      - run: yarn package
      - run: yarn integ
      - run: npx -p jsii-release jsii-release-npm
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_DIST_TAG: next
